.bloc-tabs{
    display: flex;
    flex-direction: row;
    /* margin-left: 4%; */
    padding-top: 6px;
    padding-left: 4%;
    background-color: #Eff4fe;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.tabs{
    border: none;
    font-size: 1.1em;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 10px;
}

.active-tabs{
    border-bottom: 3px solid rgb(49, 7, 233) !important;
    color: rgb(49, 7, 233)
}